.welcome{
    text-align: center;
   
    
    padding: 25px;
    font-size: medium;
    
}

.container{
    background-color: wheat;
    border: solid 15px brown;
    border-radius: 15px;
    padding: 20px;
}

.HookForm{
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: green;
}

.pUser{
    font-size: 10px;
}

.divCarDet{
    color: white;
}

.divList{
    color: white;
}

select{
    background-color: wheat;
    border: 4px solid brown;
    width: 150px;
    padding: 5px;
}

