.welcome{
    text-align: center;
    background-color:antiquewhite;
    border:solid 10px;
    border-color: gold;
    padding: 25px;
    font-size: medium;
    color: rgb(43, 166, 203);
}

.container{
    background-color: white;
    border: solid 15px red;
    border-radius: 15px;
    height: 100px;
    width: auto;
}