.welcome{
    text-align: center;
    background-color:antiquewhite;
    border:solid 10px;
    border-color: gold;
    padding: 25px;
    font-size: medium;
    color: rgb(43, 166, 203);
}

.container{
    background-color: #171616;
    border: solid 15px green;
    border-radius: 15px;
    padding: 20px;
}

.HookForm{
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: green;
}

.pUser{
    font-size: 10px;
}

.divCarDet{
    color: white;
}

.divList{
    color: white;
}

